<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sigara_stok"
        tools:targetApi="31">
        <activity
            android:name=".stocks.marbloro_stocks.ChesterfieldStocksActivity"
            android:exported="false" />
        <activity
            android:name=".west_stocks.PoloStocksActivity"
            android:exported="false" />
        <activity
            android:name=".west_stocks.WestStocksActivity"
            android:exported="false" />
        <activity
            android:name=".stocks.marbloro_stocks.MarlboroStocksActivity"
            android:exported="false"
            android:label="@string/title_activity_marlboro_stocks"
            android:theme="@style/Theme.Sigara_stok" />
        <activity
            android:name=".winston_stocks.CamelStocksActivity"
            android:exported="false"
            android:label="@string/title_activity_camel_stocks"
            android:theme="@style/Theme.Sigara_stok" />
        <activity
            android:name=".activities.HdActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NavDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.Sigara_stok.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".stocks.marbloro_stocks.LMStocksActivity"
            android:exported="false" />
        <activity
            android:name=".stocks.marbloro_stocks.LarkStocksActivity"
            android:exported="false" />
        <activity
            android:name=".stocks.marbloro_stocks.MurattiStocksActivity"
            android:exported="false" />
        <activity
            android:name=".stocks.marbloro_stocks.ParliamentStocksActivity"
            android:exported="false" />
        <activity
            android:name=".tekel_stocks.ViceroyStocksActivity"
            android:exported="false" />
        <activity
            android:name=".tekel_stocks.KentStocksActivity"
            android:exported="false" />
        <activity
            android:name=".tekel_stocks.RothmansStocksActivity"
            android:exported="false" />
        <activity
            android:name=".winston_stocks.LDStocksActivity"
            android:exported="false" />
        <activity
            android:name=".winston_stocks.MonteCarloStocksActivity"
            android:exported="false" />
        <activity
            android:name=".winston_stocks.WinstonStocksActivity"
            android:exported="false" />
        <activity
            android:name=".tekel_stocks.TekelStocksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WinstonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TekelActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MarlboroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>